[submodule "libs/enet"]
	path = libs/enet
	url = https://github.com/lsalzman/enet.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
