*.db
*.o
*.pyc
android/SacGooglePlayGameServices/libs/google-play-services.jar
bin/texture_packer
cmake_install.cmake
CMakeCache.txt
CMakeFiles
doc/html
libs/tremor
libsac.a
Makefile
sac.pidb
sac_tests
systems/opengl/shaders/*.h
