<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.damsy.soupeaucaillou.googleplaygameservices"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application>
           <!-- Don't forget to add your 12-integers game app ID in your AndroidManifest.xml! Like: -->
        <!-- the space is important since we cannot write int values without making the app crash -->
        <!-- <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="\ 123456789012" />    </application> -->
</manifest>
